In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('Carears_pages.xlsx')

In [6]:
df.CareersLink.values[1]

'https://www.orientindia.in/all-openings'

In [5]:
df.rename(columns={'If Dynamic_xpath': 'next'}, inplace=True)
for ind,row in df.iterrows():
    if ind==1:
        print(row['Name'])
        url=row['CareersLink']
        print(type(row['next']))
        out_div=[row['Outer_div'],row['next']]
        print(out_div)
        divs=[[row['Name_div_tag'],row['Name_div']],[row['Location_div_tag'],row['Location_div']],[row['Url_div_tag'],row['Url_div']],row['Name']]
        print(divs)

orient technologies
<class 'float'>
['job-card-wrapper', nan]
[['h1', 'title'], ['div', 'text-block-23'], ['a', 'link-block-17'], 'orient technologies']

In [16]:
divs[0][0]

'a'

In [8]:
df.rename(columns={'If Dynamic_xpath': 'next'}, inplace=True)

In [9]:
df.head(2)

,Name,CareersLink,Outer_div,Outer_div_tag,Name_div,Name_div_tag,Location_div,Location_div_tag,Url_div,Url_div_tag,Page_Type,next
0,orient technologies,https://www.orientindia.in/all-openings,job-card-wrapper,div,title,h1,text-block-23,div,link-block-17,a,NaN,NaN
1,Infosys,https://career.infosys.com/joblist?countrycode...,customCard,div,mat-tooltip-trigger,span,secondaryText,span,https://career.infosys.com/joblist?countrycode...,0,NaN,pointer

In [ ]:
out_div=[[row['Outer_div'],row['Outer_div_tag']],row['If Dynamic_xpa']]
divs=[[row['Name_div_tag'],roe['Name_div']],[row['Location_div_tag'],roe['Location_div']],[roe['Url_div_tag'],row['Url_div']],row['Name']]

In [7]:
import pandas as pd
# from scrab import WebScraper
import os

df=pd.read_excel('./companies.xlsx')

In [10]:
df.head()

,Name,CareersLink,Outer_div,Outer_div_tag,Name_div,Name_div_tag,Location_div,Location_div_tag,Url_div,Url_div_tag,Page_Type,If Dynamic_xpath
0,Google,https://www.google.com/about/careers/applicati...,sMn82b,div,QJPWVe,h3,r0wTof,span,WpHeLc,a,Dynamic,/html/body/c-wiz[1]/div/div[2]/div/div/div[2]/...

In [11]:

for row in df.itertuples():
    print(row.Index, row.Name)

0 Google

In [5]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Row-wise traversal using iterrows()
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Name: {row['Name']}, Age: {row['Age']}, City: {row['City']}")
    print("----")

Index: 0
Name: Alice, Age: 24, City: New York
----
Index: 1
Name: Bob, Age: 27, City: Los Angeles
----
Index: 2
Name: Charlie, Age: 22, City: Chicago
----

In [5]:
l=[1,2,3,4]
l.extend([12])

In [6]:
l

[1, 2, 3, 4, 12]